

<ul id="ZZ" class="list-inline text-center">
<h1 id="mx">This template is built with <i class="fa fa-heart" aria-hidden="true"></i>
  by</h1>
  <% data.team.each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username.github_nickname}", class: "img-circle team-size" %>
      <h3><%= gh_username.name.capitalize %></h3>
      <h4><%= gh_username.github_nickname.capitalize %></h4>
    </li>
  <% end %>
</ul>
